<h3><button (click)="showScoreCard">Score Card</button></h3>
<div *ngIf="childScoreCard">
  <table id="green-score" class="table table-hover">
    <thead>
      <tr>
        <th>Score Range</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>less than 50</td>
        <td>Healer, savior of the world!!!!!!</td>
      </tr>
      <tr>
        <td>50-69</td>
        <td>Oh yeah doing pretty good</td>
      </tr>
      <tr>
        <td>70-89</td>
        <td>Not bad...</td>
      </tr>
      <tr>
        <td>90-110</td>
        <td>Average</td>
      </tr>
      <tr>
        <td>111-130</td>
        <td>You can do better</td>
      </tr>
      <tr>
        <td>131-150</td>
        <td>Pretty bad</td>
      </tr>
      <tr>
        <td>>150</td>
        <td>Oh my god you terrible person you're making the world cry toxic tears</td>
      </tr>
    </tbody>
  </table>
</div>
