<nav class="navbar navbar-expand navbar-white bg-white fixed-top">
  <a class="navbar-brand" routerLink=''><img src="http://www.greenmatters.com/static/IconMenu.svg" alt="green matters logo">ENVY</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink=''>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='toolkit'>Toolkit</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Current environmental impact: {{childEnvironmentalImpact}}</a>
      </li>
    </ul>
  </div>
</nav>
