<div class="container">
  <div style="text-align:center">
    <div class="jumbotron">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <img width="600" alt="unsplash starter" src="https://images.unsplash.com/photo-1509529711801-deac231925ac?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a374dfc555a6b55ca01568806bb9d476&auto=format&fit=crop&w=1350&q=80">
  </div>
  <h2>Your current environmental impact is: {{environmentalImpact}} </h2>

  <app-green-score [childScoreCard]="scoreCard" (clickedToggleScoreCard)="toggleScoreCard()"></app-green-score>

  <app-story-display [childStoryList]="stories"></app-story-display>

  <app-green-toolkit [childToolkit]="toolkit"></app-green-toolkit>
</div>
