<h1>Current Stories:</h1>
<div *ngFor="let currentStory of childStoryList | featured">
  <div class="row">
    <div class="col-md-9">
      <a href="{{currentStory.link}}"><img width="100%" src="{{currentStory.image}}" alt="yoga"></a>
    </div>
    <div class="col-md-3" style="background-color:yellow;">
      <p>{{currentStory.title}}</p>
      <p>{{currentStory.description}}</p>
      <p>BY {{currentStory.author}}</p>
      <p>{{currentStory.age}} hours ago</p>
    </div>
  </div>
</div>

<div class="row">
  <div *ngFor="let currentStory of childStoryList | notFeatured">
    <div class="col-md-9">
      <a href="{{currentStory.link}}"><img width="100%" src="{{currentStory.image}}" alt="yoga"></a>
    </div>
    <div class="col-md-3" style="background-color:yellow;">
      <p>{{currentStory.title}}</p>
      <p>{{currentStory.description}}</p>
      <p>BY {{currentStory.author}}</p>
      <p>{{currentStory.age}} hours ago</p>
    </div>
  </div>
</div>
